.college {
  display: flex;
  flex-direction: column;
  background-color: white;
  z-index: 1;
  align-items: center;
  justify-content: flex-end;
  margin: 10px;
  padding: 20px;
  width: 100%;
  max-height: 400px;
  min-width: 100px;
}

.college > img {
  max-height: 200px;
  width: 100%;
  object-fit: contain;
  margin-bottom: 15px;
}
.college__info {
  height: 100px;
  margin-bottom: 15px;
  float: right;
}
.college__price {
  margin-top: 5px;
  color: #dd1c26;
}

.college__rating {
  display: flex;
}
